<details id="{{ include.id }}">
    <summary><a id="{{ include.id }}-summary" href="#fc395fc9acc4c7d5f2eabafb92506f8c77377dd0-{{ include.id }}" data-proofer-ignore><span id="{{ include.id }}-prefix">Show</span> {{ include.title }}</a></summary>
    {{ include.content }}
</details>
<script>
    document.getElementById("{{ include.id }}-summary").addEventListener("click", function (event) {
      document.getElementById("{{ include.id }}").open = !document.getElementById("{{ include.id }}").open;
      if (document.getElementById("{{ include.id }}").open) {
        document.getElementById("{{ include.id }}-prefix").textContent = "Hide";
      } else {
        document.getElementById("{{ include.id }}-prefix").textContent = "Show";
      }
    });

    document.getElementById("{{ include.id }}").addEventListener("toggle", function () {
      if (document.getElementById("{{ include.id }}").open) {
        document.getElementById("{{ include.id }}-prefix").textContent = "Hide";
      } else {
        document.getElementById("{{ include.id }}-prefix").textContent = "Show";
      }
    });
</script>
